body{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 998px;
    display: flex;
    background-color: red;
}
figure{
    width: 350px;
}
img{
    width: 100%;
    max-width: 100%;
}
