body{
    /* position: relative; */
    /* height: 100vw; */
    /* display: flex;
    justify-content: center; */
}
.overlay{
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    overflow-x: clip;
}
.container{
    max-width: 998px;
    height: 900px;
    background-color: red;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    overflow: scroll;

}
