/* =========================================
   Google Fonts
========================================= */

/* =========================================
   CSS Variables
========================================= */
:root {
  /* ========== Main colors (HSL - hue, saturation, and lightness) ========== */

  /* Blue - hsl(217, 85%, 74%); */
  /* Purple - hsl(245, 54%, 74%); */
  /* Teal - hsl(181, 47%, 49%); */
  /* Yellow - hsl(65, 60%, 70%); */
  /* Green - hsl(162, 60%, 65%); */
  /* Red - hsl(356, 67%, 70%); */
  /* Pink - hsl(330, 73%, 72%); */

  --hue: 217;
  --sat: 85%;
  --light: 74%;
  --primary-color: hsl(var(--hue) var(--sat) var(--light)); /*  primary */
  --white-color: hsl(var(--hue) 45% 98%); /* white */
  --dark-color: hsl(var(--hue) 26% 12%); /* dark */

  /* ======= Changeable colors for dark/light themes ======= */
  --color-01: hsl(var(--hue) var(--sat) var(--light)); /* primary to dark */
  --color-02: hsl(var(--hue) 45% 98%); /* white to dark */
  --color-03: hsl(var(--hue) 26% 12%); /* dark to white */
  --color-04: rgb(247, 247, 247); /*light-gray to dark-gray*/
  /* --color-04: hsl(var(--hue) 0% 62%); light-gray to dark-gray */

  --color-05: hsl(var(--hue) 26% 12%); /* dark to primary */

  --body-color: hsl(250 26% 12%); /* dark to white */
  --hover-color: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

  /* ======= Background colors ======= */
  --bottom-nav-bg: hsl(var(--hue) 32% 25% / 0.65);
  --card-bg: linear-gradient(
    120deg,
    hsl(var(--hue) 54% 74% / 0.15),
    hsl(var(--hue) 54% 74% / 0.05)
  );
  --modal-backdrop-bg: hsl(var(--hue) 54% 74% / 0.1);
  --footer-bg: linear-gradient(
    360deg,
    hsl(var(--hue) 54% 74% / 0.15),
    hsl(var(--hue) 54% 74% / 0.1)
  );

  --scrollbar-color: hsl(var(--hue) 25% 25%);
  --scrollbar-thumb: hsl(var(--hue) var(--sat) var(--light));
  --scrollbar-thumb-hover: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

  /* ======= Font and typography ======= */
  --body-font-family: "Inter", serif;

  /* ======= Font sizes ======= */
  --h1-font-size: 2.85rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.97rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.13rem;

  --xlarge-font-size: 1.48rem;
  --large-font-size: 1.23rem;
  --medium-font-size: 1.05rem;
  --base-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --tiny-font-size: 0.98rem;

  /* ======= Font weights ======= */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ======= Layering order(z-index) ======= */
  --z-minus: -1;
  --z-base: 0;
  --z-low: 1;
  --z-high: 10;
  --z-content: 100;
  --z-tooltip: 1000;
  --z-fixed: 1100;
  --z-overlay: 1900;
  --z-modal: 2000;
  --z-max: 9999;
}

/* ======= Light theme ======= */

/* =========================================
   Reset / Normalize
========================================= */

/* =========================================
   Base Styles
========================================= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font-family);
  font-size: var(--medium-font-size);
}
input,
textarea{
  border: none;
}
input:focus,
textarea:focus{
  outline: none;
  border: none;
}
body {
  background-color: var(--body-color);
  color: var(--white-color);
}

h1,
h2,
h3 {
  color: var(--color-01);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;

  padding: 13px 26px;
  border-radius: 50px;
}

i {
  cursor: pointer;
}
/* =========================================
   Reusable Styles
========================================= */

section,
footer {
  padding: 4.5rem 0 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 968px;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}
.heading_wrapper {
  margin-bottom: 100px;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--color-01);
  margin-bottom: 0.8rem;
  text-align: center;
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.5px;
}

.section_subtitle {
  text-align: center;
}
.description {
  color: var(--color-04);
}
.transparent_btn {
  background-color: transparent;
  color: var(--color-01);
  border: 2px solid var(--color-01);
  transition: background-color 0.3s;
}
.transparent_btn:hover {
  background-color: var(--color-01);
  border: 2px solid var(--color-01);
  color: white;
}
.blue_btn {
  background-color: var(--color-01);
  color: var(--color-03);
}
.invisible {
  display: none !important;
}
.card {
  border-radius: 12px;
  background: var(--card-bg);
  cursor: pointer;
}
.modal {
  background-color: var(--color-03);
  border-radius: 15px;
  position: fixed;
  z-index: var(--z-modal);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.modal_cross_icon {
  cursor: pointer;
  position: absolute;
  inset: 15px 15px 0 0;
  font-size: 18px;
  color: var(--color-04);
}
.modal_cross_icon {
  font-size: 18px;
  color: var(--color-04);
  cursor: pointer;
  position: absolute;
  inset: 15px 15px auto auto;
  transition: transform 0.2s;
}
.modal_cross_icon:hover {
  transform: scale(1.1);
}
.portfolio_modal_cross_icon{
  inset: 5px 10px auto auto;
}
.modal_overlay {
  position: fixed;
  inset: 0;
  background-color: var(--modal-backdrop-bg);
  z-index: var(--z-overlay);
  /* backdrop-filter: blur(8px); */
}
.oveflow_hidden{
  overflow: hidden;
}
/* =========================================
   Components
========================================= */

/* ========== Page scroll bar ========== */
::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-color);
  border-radius: 100vw;
  margin: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
/* ========== Customized cursor ========== */

/* ========== To top button with scroll indicator bar ========== */

/* ========== Buttons ========== */


/* =========================================
   Header
========================================= */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}
header .brand {
  font-size: var(--h2-font-size);
}
header .container {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ri-sun-fill {
  font-size: 23px;
  color: var(--color-01) !important;
}
/* ========== Dark/Light theme buttons ========== */

/* =========================================
   Bottom navigation menu
========================================= */
.bottom_nav {
  position: fixed;
  inset: auto 50% 40px auto;
  transform: translate(50%);
  z-index: var(--z-fixed);
  background-color: var(--bottom-nav-bg);
  padding: 12px 26px;
  border-radius: 100px;
  display: flex;
  grid-area: 20px;
}

.bottom_nav .nav_item {
  padding: 8px;
  border-radius: 60%;
  cursor: pointer;
}
.bottom_nav .nav_item i {
  font-size: 18px;
  color: var(--color-02);
}
.current {
  background-color: var(--color-01);
  color: var(--color-03);
}
/* =========================================
   Home
========================================= */
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotated_text {
  transform: rotate(270deg);
  width: 15px;
  white-space: nowrap;
  color: var(--color-04);
}
.home .left_sec,
.home .right_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Left Section */

.home .left_sec {
  gap: 20px;
}

.left_line {
  width: 1px;
  height: 80px;
  border-radius: 15px;
  background-color: var(--color-04);
  background-color: var(--color-01);
}
.social_icons_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social_icons_wrap i {
  color: var(--color-01);
  font-size: 21px;
}

/* Middle Section */
.middle_sec {
  display: flex;
  align-items: center;
  gap: 50px;
}
.hero_banner {
  width: 400px;
}
.texts_div {
  margin-bottom: 30px;
}
.intro_text {
  color: var(--color-04);
  margin-bottom: 15px;
}
.name_text {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 15px;
}

.role_text {
  color: var(--color-04);
}
.hire_btn i {
  font-size: 19px;
  color: black;
}

/* Right Section */
.home .right_sec {
  gap: 10px;
  animation: scroll_hint 1s linear 0s infinite alternate;
}
@keyframes scroll_hint {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
.mouse_icon,
.down_arw {
  font-size: 26px;
  color: var(--color-04);
}
.mouse_text {
  margin-top: 80px;
}

/* =========================================
   About Me
========================================= */
.about_content {
  display: flex;
  gap: 70px;
  align-items: center;
  background-color: green;
}
.aboutbanner_wrapper{
  background-color: red;
}
.about_banner {
  width: 300px;
  border-radius: 20px;
  
}

.about_details{
  flex: 1;
}
.about_role_txt {
  font-weight: var(--font-semi-bold);
  margin-bottom: 30px;
  font-size: var(--large-font-size);
}
.about_description {
  color: var(--color-04);
  margin-bottom: 30px;
}
.about_stats_wrap {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}
.about_stats_box {
  background: var(--card-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border-radius: 6px;
  background-color: red;
}
.about_stat_number {
  font-size: var(--h2-font-size);
  color: var(--color-01);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.5px;
}

.about_btns {
  display: flex;
  gap: 20px;
}
/* =========================================
   Skills
========================================= */
.skills i {
  color: var(--color-01);
}
.skills_content {
  display: flex;
  justify-content: center;
}
.skills_box {
  padding: 50px 70px;
  border-bottom: 5px solid var(--color-01);
}
.skills_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
}
.skills_title {
  font-size: var(--large-font-size);
  font-weight: var(--font-semi-bold);
}
.skills_item_name {
  margin-bottom: 8px;
  font-size: var(--medium-font-size);
  font-weight: var(--font-semi-bold);
}
.skills_item_level {
  color: var(--color-04);
}
.skills_heading_icon {
  font-size: 30px;
}
.skills_list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  row-gap: 30px;
}
.skills_item {
  display: flex;
  gap: 15px;
}
.skills_item_icon {
  font-size: 22px;
}

/* =========================================
   Services
========================================= */
.services_content {
  position: relative;
  display: flex;
  justify-content: center;
}
.services_box {
  padding: 50px;
  border-bottom: 5px solid var(--color-01);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
}
.services_box_icon {
  font-size: 50px;
  color: var(--color-01);
}
.services_box_name {
  font-size: var(--large-font-size);
  font-weight: var(--font-semi-bold);
}
.services_box_see_more_text {
  color: var(--color-04);
}
.see_more_text_icon {
  margin-left: 10px;
}
.services_modal {
  padding: 80px 60px;
  border-bottom: 2px solid var(--color-01);
  width: 650px;
}
.services_modal_description {
  color: var(--color-04);
  margin-bottom: 30px;
}

.services_modal_list_label {
  margin-bottom: 20px;
  font-weight: var(--font-semi-bold);
  font-size: medium;
}
.modal_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal_list_item {
  display: flex;
  gap: 10px;
}
.services_modal_title {
  font-size: var(--h4-font-size);
  color: var(--color-01);
  margin-bottom: 1rem;
  text-align: center;
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.5px;
}
.services_modal_description {
  color: var(--color-04);
  text-align: center;
}
.modal_list_item {
  display: flex;
  align-items: center;
}
.modal_list_icon {
  font-size: 18px;
  color: var(--color-01);
}

/* =========================================
   Portfolio
========================================= */
.portfolio{
  position: relative;
}
.modal_cont{
  position: absolute;
}
.portfolio_projects_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 row-gap: 50px;
 column-gap: 30px;
}
.portfolio_project {
  overflow: hidden;
  position: relative;
}
.project_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.project_category_txt {
  margin-bottom: 5px;
  color: var(--color-04);
}
.project_title_txt {
  font-weight: var(--font-semi-bold);
}
.project_texts_wrap {
  padding: 10px 25px 20px 25px;
}
.portfolio_project_modal {
  position: absolute;
  transform: translateY(0) translateX(-50%);
  top: 20%;
  padding: 30px;
  width: 800px;
  height: 700px;
  overflow: scroll !important;
}
.portfolio_project_modal_img {
  border-radius: 12px;
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
}
.portfolio_project_modal_title {
  margin-bottom: 15px;
  font-size: var(--large-font-size);
}
.portfolio_project_modal_description {
  color: var(--color-04);
}
.project_modal_overlay {
  overflow-x: clip;
  overflow-y: scroll;
}
/* =========================================
   Testimonials
========================================= */


.testimonials_swiper{
  width: 100%;
  max-width: 800px;
  height: 300px;
}
.swiper-slide{
  display: flex;
  justify-content: center;
}
.testimonials_wrap{
width: 80%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.swiper-pagination-bullet{
  background-color: var(--color-04);
  opacity: 1;

}
.swiper-pagination-bullet-active{
  background-color: var(--color-01);
}
.testimonials_client_img{
  width: 170px;
  aspect-ratio: 1;
  border-radius: 15px;
}
.testimonials_client_name{
  font-size: var(--large-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 5px;
}
.testimonials_client_role{
  margin-bottom: 10px;
}
.testimonials_description{
  color: var(--color-04);
  margin-bottom: 15px;
}

/* =========================================
   Contact Me
========================================= */
.contact_wrap{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}
.contact_info_heading,
.contact_social_info_heading{
  font-size: var(--medium-font-size);
  margin-bottom: 40px;
}
.contact_info_card{
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  height: 70px;
}
.contact_card_icon_box{

  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_card_send_wrap{
  display: flex;
  cursor: pointer;
}
.contact_card_icon,
.contact_social_icon{
  font-size: 30px;
  color: var(--color-01);

}
.contact_card_text_wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact_card_platform_name,
.contact_card_send_txt,
.contact_card_send_icon{
  color: var(--color-04);
}

.contact_card_send_txt{
  margin-right: 10px;

}
.contact_social_icons_wrap{
  display: flex;
  gap: 15px;
}
.contact_social_icon_box{
  padding: 23px;
  background: var(--card-bg);
  border-radius: 60%;
  cursor: pointer;
}
.contact_box{
  padding: 40px;
  height: 100%;
  background: var(--card-bg);
  border-radius: 30px;
}
.contact_box_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}
.contact_box_desc{
margin-bottom: 20px;
}
.contact_form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.contact_form input,
.contact_jnput_message{
  background-color: black;
  padding: 20px;
  border-radius: 12px;
}
.contact_form input::placeholder{
  color: var(--color-04);

}


.contact_jnput_message{
  height: 200px;
}

/* =========================================
   Footer
========================================= */
footer .section_title{
  margin-bottom: 20px;
}
footer .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_nav{
  margin-bottom: 20px;
}
.footer_nav_ul{
  display: flex;
  gap: 12px;


}
.footer_nav_item{
  padding: 4px 14px;
  border-radius:50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.footer_nav_item:hover{
  background-color: var(--color-01);
 
}

.footer_nav_link{
  color: var(--color-04);
  font-size: var(--base-font-size);
}
/* =========================================
   Media Queries (max-width: 1600px)
========================================= */
@media (max-width: 1600px) {


}

/* =========================================
   Media Queries (max-width: 1200px)
========================================= */
@media (max-width: 1200px) {
  .home .middle_sec{
    flex-direction: column;
  }
  .home .descriptgion{
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .description .texts_div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .brand{
    font-size: var(--h3-font-size);
  }
}
/* =========================================
   Media Queries (max-width: 992px)
========================================= */

/* =========================================
   Media Queries (max-width: 768px)
========================================= */

/* =========================================
   Media Queries (max-width: 480px)
========================================= */
