/* =========================================
   Google Fonts
========================================= */

/* =========================================
   CSS Variables
========================================= */
:root {
  /* ========== Main colors (HSL - hue, saturation, and lightness) ========== */

  /* Blue - hsl(217, 85%, 74%); */
  /* Purple - hsl(245, 54%, 74%); */
  /* Teal - hsl(181, 47%, 49%); */
  /* Yellow - hsl(65, 60%, 70%); */
  /* Green - hsl(162, 60%, 65%); */
  /* Red - hsl(356, 67%, 70%); */
  /* Pink - hsl(330, 73%, 72%); */

  --hue: 217;
  --sat: 85%;
  --light: 74%;
  --primary-color: hsl(var(--hue) var(--sat) var(--light)); /*  primary */
  --white-color: hsl(var(--hue) 45% 98%); /* white */
  --dark-color: hsl(var(--hue) 26% 12%); /* dark */

  /* ======= Changeable colors for dark/light themes ======= */
  --color-01: hsl(var(--hue) var(--sat) var(--light)); /* primary to dark */
  --color-02: hsl(var(--hue) 45% 98%); /* white to dark */
  --color-03: hsl(var(--hue) 26% 12%); /* dark to white */
  --color-04: rgb(247, 247, 247); /*light-gray to dark-gray*/
  /* --color-04: hsl(var(--hue) 0% 62%); light-gray to dark-gray */

  --color-05: hsl(var(--hue) 26% 12%); /* dark to primary */

  --body-color: hsl(250 26% 12%); /* dark to white */
  --hover-color: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

  /* ======= Background colors ======= */
  --bottom-nav-bg: hsl(var(--hue) 32% 25% / 0.65);
  --card-bg: linear-gradient(
    120deg,
    hsl(var(--hue) 54% 74% / 0.15),
    hsl(var(--hue) 54% 74% / 0.05)
  );
  --modal-backdrop-bg: hsl(var(--hue) 54% 74% / 0.1);
  --footer-bg: linear-gradient(
    360deg,
    hsl(var(--hue) 54% 74% / 0.15),
    hsl(var(--hue) 54% 74% / 0.1)
  );

  --scrollbar-color: hsl(var(--hue) 25% 25%);
  --scrollbar-thumb: hsl(var(--hue) var(--sat) var(--light));
  --scrollbar-thumb-hover: hsl(var(--hue) var(--sat) calc(var(--light) - 7%));

  /* ======= Font and typography ======= */
  --body-font-family: "Inter", serif;

  /* ======= Font sizes ======= */
  --h1-font-size: 2.85rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.97rem;
  --h4-font-size: 1.43rem;
  --h5-font-size: 1.13rem;

  --xlarge-font-size: 1.48rem;
  --large-font-size: 1.23rem;
  --medium-font-size: 1.18rem;
  --base-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --tiny-font-size: 0.98rem;

  /* ======= Font weights ======= */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ======= Layering order(z-index) ======= */
  --z-minus: -1;
  --z-base: 0;
  --z-low: 1;
  --z-high: 10;
  --z-content: 100;
  --z-tooltip: 1000;
  --z-fixed: 1100;
  --z-overlay: 1900;
  --z-modal: 2000;
  --z-max: 9999;
}

/* ======= Light theme ======= */

/* =========================================
   Reset / Normalize
========================================= */

/* =========================================
   Base Styles
========================================= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

h1,
h2,
h3 {
  color: var(--color-01);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;

  padding: 13px 26px;
  border-radius: 50px;
}

img {
  max-width: 100%;
  height: auto;
}
i{
  cursor: pointer;
}
/* =========================================
   Reusable Styles
========================================= */
section {
  padding: 4.5rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 968px;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}
.heading_wrapper{
  margin-bottom: 150px;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--color-01);
  margin-bottom: 0.8rem;
  text-align: center;
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.5px;
}

.section_subtitle {

  text-align: center;
}
.description {
  color: var(--color-04);
}
.transparent_btn {
  background-color: transparent;
  color: var(--color-01);
  border: 2px solid var(--color-01);
  transition: background-color 0.3s;
}
.transparent_btn:hover {
  background-color: var(--color-01);
  border: 2px solid var(--color-01);
  color: white;
}
.blue_btn {
  background-color: var(--color-01);
  color: var(--color-03);
}
.heading_wrapper{
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

/* =========================================
   Components
========================================= */

/* ========== Page scroll bar ========== */

/* ========== Customized cursor ========== */

/* ========== To top button with scroll indicator bar ========== */

/* ========== Buttons ========== */

/* =========================================
   Header
========================================= */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}
header .brand {
  font-size: var(--h3-font-size);
}
header .container {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ri-sun-fill {
  font-size: 23px;
  color: var(--color-01) !important;
}
/* ========== Dark/Light theme buttons ========== */

/* =========================================
   Bottom navigation menu
========================================= */
.bottom_nav{
  position: fixed;
  inset: auto 50% 40px auto;
  transform: translate(50%);
z-index: var(--z-fixed);
background-color: var(--bottom-nav-bg);
padding: 12px 26px;
border-radius: 100px;
display: flex;
grid-area: 20px;
}

.bottom_nav .nav_item{
  padding: 8px;
  border-radius: 60%;
  cursor: pointer;
}
.bottom_nav .nav_item i {
  font-size: 18px;
  color: var(--color-02);
}
.current{
  background-color: var(--color-01);
  color: var(--color-03);
}
/* =========================================
   Home
========================================= */
.home .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rotated_text{
  transform:rotate(270deg);
  width: 15px;
  white-space: nowrap;
  color:var(--color-04) ;
}
.home .left_sec,
.home .right_sec{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Left Section */

.home .left_sec{
  gap: 20px;
}

.left_line{
width: 1px;
height: 80px;
border-radius: 15px;
background-color: var(--color-04);
background-color: var(--color-01);
}
.social_icons_wrap{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social_icons_wrap i {
color: var(--color-01);
font-size: 21px;
}

/* Middle Section */
.middle_sec{
  display: flex;
  align-items: center;
  gap: 50px;

}
.hero_banner{
  width: 400px;
}
.texts_div{
  margin-bottom: 30px;
}
.intro_text{
color: var(--color-04);
margin-bottom: 15px;
}
.name_text{
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 15px;
}

.role_text{
  color: var(--color-04);
}
.hire_btn i {
  font-size: 19px;
  color: black;
}

/* Right Section */
.home .right_sec{
  gap: 10px;
  animation: scroll_hint 1s linear 0s infinite alternate ;
}
@keyframes scroll_hint {
  from{
    transform: translateY(0);
  } to{
    transform: translateY(20px);
  }
}
.mouse_icon,
.down_arw {
  font-size: 26px;
  color: var(--color-04);
}
.mouse_text{

  margin-top: 60px;
}

/* =========================================
   About Me
========================================= */

/* =========================================
   My Resume
========================================= */

/* =========================================
   Services
========================================= */

/* =========================================
   Portfolio
========================================= */

/* =========================================
   Testimonials
========================================= */

/* =========================================
   Contact Me
========================================= */

/* =========================================
   Footer
========================================= */

/* =========================================
   Media Queries (max-width: 1600px)
========================================= */

/* =========================================
   Media Queries (max-width: 1200px)
========================================= */

/* =========================================
   Media Queries (max-width: 992px)
========================================= */

/* =========================================
   Media Queries (max-width: 768px)
========================================= */

/* =========================================
   Media Queries (max-width: 480px)
========================================= */
